<div class="timezone-picker-modal">
    <div class="modal-header">
        <h4 class="modal-title">Select timezone</h4>
        <i class="fa fa-fw fa-times modal-close" ng-click="$ctrl.modalInstance.dismiss()"></i>
    </div>
    <div class="modal-body">
        <div class="panel panel-default searchable-list">
            <div class="panel-heading">
                <div class="left-inner-addon">
                    <i class="fa fa-search"></i>
                    <input type="text" class="form-control" ng-model="$ctrl.query" ng-change="$ctrl.filter()"
                           ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 100, 'blur': 0 } }"
                           placeholder="Filter timezones">
                </div>
            </div>
            <div class="panel-body">
                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="item in $ctrl.timezones" ng-class="{active: $ctrl.isSelected(item)}">
                        <a ng-click="$ctrl.select(item)">
                            <span>{{::item.name}} <small>{{::item.offset}}</small></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="help-block">
                    * Currently timezone is set to <strong>{{$ctrl.selected.name}} <small>{{$ctrl.selected.offset}}</small></strong>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer text-center">
        <div class="row">
            <div class="col-md-6">
                <button ng-click="$ctrl.modalInstance.dismiss()" class="btn btn-second btn-lg btn-block">Cancel</button>
            </div>
            <div class="col-md-6">
                <button ng-click="$ctrl.apply()" class="btn btn-first btn-lg btn-block">Apply</button>
            </div>
        </div>
    </div>
</div>
