<div class="cg-notify-message smart-alert-notification" ng-class="[$classes,
    $position === 'center' ? 'cg-notify-message-center' : '',
    $position === 'left' ? 'cg-notify-message-left' : '',
    $position === 'right' ? 'cg-notify-message-right' : '']"
     ng-style="{'margin-left': $centerMargin}" ng-click="$message.closeOnClick && $close()">

    <div class="notification-icon">
        <i class="fa fa-fw"></i>
    </div>
    <div class="content" ng-class="{'without-close-btn': !$message.showCloseButton}">
        <h5 class="title" ng-bind-html="$message.title" ng-if="$message.title"></h5>

        <div class="message" ng-class="{'without-title': !$message.title}">
            <div class="smart-alert-data">
                <span class="value" ng-bind-html="$message.data.notification.alert.shortValue"></span>
                <div class="direction" ng-class="{'text-success': $message.data.notification.alert.isGood, 'text-danger': !$message.data.notification.alert.isGood}">
                    <i class="fa fa-fw" ng-class="{'fa-arrow-up': $message.data.notification.alert.isIncrease, 'fa-arrow-down': !$message.data.notification.alert.isIncrease}"></i>
                    <span class="variance" ng-bind-html="$message.data.notification.alert.variance"></span>
                </div>
            </div>
            <span class="message-text">
                {{$message.data.notification.alert.name}} <br>
                Alert level - {{$message.data.notification.alert.severity}}
            </span>
        </div>

        <a ng-if="$message.buttons" class="btn btn-eighth btn-sm pull-right" ng-class="[button.classes]" ng-repeat="button in $message.buttons"
           ng-click="button.action(); $close();">
            {{button.text}}
        </a>
    </div>

    <button type="button" class="cg-notify-close" ng-if="$message.showCloseButton" ng-click="$close()">
        <span aria-hidden="true">&times;</span>
        <span class="cg-notify-sr-only">Close</span>
    </button>

</div>
