<div class="key-drivers-drill-table">
    <div class="drill-filter" ng-if="$ctrl.hasFilter()">
        Filter: <strong>{{$ctrl.drill.filterColumn}}</strong> equals <strong>{{$ctrl.drill.filterValue}}</strong>

        <button ng-click="$ctrl.clearFilter()" class="btn btn-eighth btn-sm pull-right">
            Reset filter
            <i class="fa fa-times"></i>
        </button>
    </div>
    <table class="table">
        <thead class="bold">
            <tr class="active">
                <th ng-repeat="header in $ctrl.headers track by $index" ng-click="$ctrl.orderBy($index)">
                    <span>{{header.name}}</span>
                    <i ng-if="!$ctrl.orderedBy($index)" class="fa fa-sort"></i>
                    <i ng-if="$ctrl.orderedBy($index)" class="fa" ng-class="{'fa-caret-down': !$ctrl.reverse, 'fa-caret-up': $ctrl.reverse}"></i>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="row in $ctrl.pagination.rows track by $index">
                <td ng-repeat="item in row">

                    <div ng-if="!$ctrl.scroller || ($ctrl.scroller && !item.isMetric)">
                        <span ng-if="!item.isMetric" ng-bind-html="item.value" ng-class="$ctrl.itemClass(item)"></span>
                        <span ng-if="item.isMetric" ng-bind="item.formattedValue" class="no-wrap" ng-class="$ctrl.itemClass(item)"></span>
                    </div>

                    <div ng-if="$ctrl.scroller && item.isMetric">
                        <div class="drill-table-metric">
                            <div class="drill-table-danger text-right">
                                <span class="drill-table-value red" ng-if="!item.isIncrease" ng-bind="item.formattedValue" ng-class="$ctrl.itemClass(item)"></span>
                                <div ng-if="!item.isIncrease" class="progress">
                                    <div class="progress-bar progress-bar-danger pull-right" style="width: {{item.percent}}%"></div>
                                </div>
                            </div>

                            <div class="drill-table-success text-left">
                                <span class="drill-table-value turquoise" ng-if="item.isIncrease" ng-bind="item.formattedValue" ng-class="$ctrl.itemClass(item)"></span>
                                <div ng-if="item.isIncrease" class="progress">
                                    <div class="progress-bar progress-bar-success" style="width: {{item.percent}}%"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                </td>
            </tr>
        </tbody>
    </table>

    <div class="text-center" ng-if="$ctrl.showPagination()">
        <ul uib-pagination direction-links="true" boundary-link-numbers="true" rotate="true" force-ellipses="true" max-size="10"
            total-items="$ctrl.pagination.totalItems" ng-model="$ctrl.pagination.currentPage"
            items-per-page="$ctrl.pagination.itemsPerPage" ng-change="$ctrl.paginate()"></ul>
    </div>

</div>
