<div class="sankey-settings" ng-if="$ctrl.settings">
    <div class="items">
        <div class="item form-group">
            <label>Metric:</label>
            <ui-select ng-disabled="$ctrl.loading || !$ctrl.hasVisibleMetrics()" class="w-100" on-select="$ctrl.applySettings()" search-enabled="true" ng-model="$ctrl.settings.sankey.metric">
                <ui-select-match placeholder="Select Metric">{{$select.selected.name}}</ui-select-match>
                <ui-select-choices repeat="metric in $ctrl.settings.metrics | filter: {name: $select.search, hidden: false}">
                    <span ng-bind-html="metric.name | highlight: $select.search"></span>
                </ui-select-choices>
            </ui-select>
        </div>

        <div class="item form-group">
            <label>From Dimension:</label>
            <ui-select ng-disabled="$ctrl.loading || !$ctrl.dimensions.length" class="w-100" on-select="$ctrl.selectFromDimension($item)" search-enabled="true" ng-model="$ctrl.settings.sankey.fromDimension">
                <ui-select-match placeholder="Select From Dimension">{{$select.selected.name}}</ui-select-match>
                <ui-select-choices repeat="dimension in $ctrl.dimensions | customSearch: 'name': $select.search">
                    <span ng-bind-html="dimension.name | highlight: $select.search"></span>
                </ui-select-choices>
            </ui-select>
        </div>

        <div class="item form-group">
            <label>To Dimension:</label>
            <ui-select ng-disabled="$ctrl.loading || !$ctrl.dimensions.length" class="w-100" on-select="$ctrl.selectToDimension($item)" search-enabled="true" ng-model="$ctrl.settings.sankey.toDimension">
                <ui-select-match placeholder="Select To Dimension">{{$select.selected.name}}</ui-select-match>
                <ui-select-choices repeat="dimension in $ctrl.dimensions | customSearch: 'name': $select.search">
                    <span ng-bind-html="dimension.name | highlight: $select.search"></span>
                </ui-select-choices>
            </ui-select>
        </div>
    </div>
</div>
