<div class="relationship-builder-wrapper">

    <div class="sub-header">
        <div class="item">
            <div class="breadcrumbs">
                <span>Relationship builder</span>
            </div>
        </div>
    </div>

    <div class="relationship-builder">

        <app-relationship-builder-sidebar></app-relationship-builder-sidebar>

        <div class="relationship-builder-visual">
            <ul class="nav nav-tabs">
                <li ng-class="{active : $ctrl.tabs.is('relation')}"><a href ng-click="$ctrl.setTab('relation')">Relation</a></li>
                <li ng-class="{active : $ctrl.tabs.is('preview')}"><a href ng-click="$ctrl.setTab('preview')">Preview</a></li>
            </ul>
            <div class="tab-nav-content">
                <div ng-show="$ctrl.tabs.is('relation')">
                    <div ng-if="!$ctrl.relation" class="preview-area-wrapper">
                        <div class="preview-area">
                            <div class="preview-icon animated zoomIn">
                                <i class="fa fa-eye" aria-hidden="true"></i>
                            </div>
                            <span class="preview-title">Preview</span>
                            <span>Please select existing relation or create new one in order to display data</span>
                        </div>
                    </div>

                    <div ng-if="$ctrl.relation">

                        <div class="items">
                            <div class="item form-group">
                                <label>Relation name:</label>
                                <input type="text" class="form-control" placeholder="Enter relation name" ng-model="$ctrl.relation.name">
                            </div>
                        </div>

                        <div ng-if="!$ctrl.hasData()" class="preview-area-wrapper">
                            <div class="preview-area">
                                <div class="preview-icon animated zoomIn">
                                    <i class="fa fa-eye" aria-hidden="true"></i>
                                </div>
                                <span class="preview-title">Preview</span>
                                <span>Please select goal or driver metric in order to display data</span>
                            </div>
                        </div>

                        <div>
                            <table class="table table-condensed m-t-10" ng-if="$ctrl.hasData()">
                                <thead>
                                    <tr>
                                        <th>Metric</th>
                                        <th width="200">This week impact</th>
                                    </tr>
                                </thead>
                                <tbody ui-sortable="$ctrl.sortableOptions" ng-model="$ctrl.relation.drivers">
                                    <tr class="goal-metric-row" ng-if="$ctrl.relation.goal">
                                        <td>
                                            <a href="#" class="btn metric-btn goal-metric">
                                                <i class="fa fa-bullseye"></i>
                                            </a>
                                            <span class="metric-name" ng-bind-html="$ctrl.relation.goal.name"></span>
                                        </td>
                                        <td>
                                            <span ng-if="!$ctrl.relation.goal.loading">{{$ctrl.relation.goal.current || '-'}}</span>
                                            <span ng-if="$ctrl.relation.goal.loading"><i class="fa fa-circle-o-notch fa-spin"></i></span>
                                        </td>
                                    </tr>
                                    <tr ng-repeat="driver in $ctrl.relation.drivers track by $index">
                                        <td class="highlight">
                                            <a href="#" class="btn metric-btn">{{driver.letter}}</a>
                                            <span class="metric-name" ng-bind-html="driver.name"></span>
                                        </td>
                                        <td class="highlight">
                                            <span ng-if="!driver.loading">{{driver.current || '-'}}</span>
                                            <span ng-if="driver.loading"><i class="fa fa-circle-o-notch fa-spin"></i></span>
                                            <button class="btn metric-remove" ng-click="$ctrl.removeDriver(driver)">
                                                <i class="fa fa-times"></i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            <form ng-if="$ctrl.showFormula" name="$ctrl.form" ng-submit="$ctrl.save()">
                                <div class="formula-wrapper" ng-if="$ctrl.hasData()">
                                    <label>Formula:</label>
                                    <input type="text" name="formula" ng-disabled="$ctrl.loading || !$ctrl.relation.drivers.length" class="form-control"
                                           app-valid-math-expression ng-model-options="{ allowInvalid: true }" inputs="$ctrl.letters" ng-model="$ctrl.relation.formula"
                                           placeholder="{{$ctrl.formulaPlaceholder}}">
                                    <p ng-if="$ctrl.relation.drivers.length" class="help-block">You can use + - / * ( ) </p>
                                </div>

                                <div class="button-wrapper">
                                    <a href class="btn btn-second pull-left" ng-click="$ctrl.remove()" ng-if="$ctrl.relation.id" ng-disabled="$ctrl.loading || !$ctrl.relation.drivers.length">
                                        <i class="fa fa-trash-o"></i> Delete Relation
                                    </a>
                                    <button class="btn btn-first pull-right" ng-disabled="$ctrl.loading || !$ctrl.relation.drivers.length" type="submit">
                                        {{$ctrl.loading ? 'Saving...' : 'Save Relation'}}
                                    </button>
                                    <a href class="btn btn-second pull-right" ng-disabled="$ctrl.loading" ng-click="$ctrl.cancel()">
                                        Cancel
                                    </a>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>

                <div ng-if="$ctrl.tabs.is('preview')" class="relationship-preview-tab">
                    <div ng-if="!$ctrl.relation || !$ctrl.hasData()" class="preview-area-wrapper">
                        <div class="preview-area">
                            <div class="preview-icon animated zoomIn">
                                <i class="fa fa-eye" aria-hidden="true"></i>
                            </div>
                            <span class="preview-title">Preview</span>
                            <span>Please select existing relation or create new one in order to display data</span>
                        </div>
                    </div>

                    <div ng-if="$ctrl.relation && $ctrl.hasData()">

                        <div class="items">
                            <div class="item form-group">
                                <label>Current date range</label>
                                <tu-date-picker
                                    refresh="$ctrl.updateCurrentDates(dates, range)"
                                    current-range="$ctrl.relation.current.rangeName"
                                    hide="$ctrl.hiddenLabels">
                                </tu-date-picker>
                                <span class="date-string" ng-bind-html="$ctrl.getCurrentDateString()"></span>
                            </div>

                            <div class="item form-group">
                                <label>Previous date range</label>
                                <tu-date-picker
                                    refresh="$ctrl.updatePreviousDates(dates, range)"
                                    current-range="$ctrl.relation.previous.rangeName"
                                    hide="$ctrl.hiddenPreviousLabels">
                                </tu-date-picker>
                                <span class="date-string" ng-bind-html="$ctrl.getPreviousDateString()"></span>
                            </div>
                        </div>

                        <div>
                            <table class="table table-condensed m-t-10">
                                <thead>
                                    <tr>
                                        <th>Metric</th>
                                        <th width="120">Current date</th>
                                        <th width="120">Previous date</th>
                                        <th width="120">Difference</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="goal-metric-row" ng-if="$ctrl.relation.goal">
                                        <td>
                                            <a href="#" class="btn metric-btn goal-metric">
                                                <i class="fa fa-bullseye"></i>
                                            </a>
                                            <span class="metric-name" ng-bind-html="$ctrl.relation.goal.name"></span>
                                        </td>
                                        <td>
                                            <span ng-if="!$ctrl.relation.goal.loading">{{$ctrl.relation.goal.current || '-'}}</span>
                                            <span ng-if="$ctrl.relation.goal.loading"><i class="fa fa-circle-o-notch fa-spin"></i></span>
                                        </td>
                                        <td>
                                            <span ng-if="!$ctrl.relation.goal.loading">{{$ctrl.relation.goal.previous || '-'}}</span>
                                            <span ng-if="$ctrl.relation.goal.loading"><i class="fa fa-circle-o-notch fa-spin"></i></span>
                                        </td>
                                        <td>
                                            <span ng-if="!$ctrl.relation.goal.loading">{{$ctrl.relation.goal.difference || '-'}}</span>
                                            <span ng-if="$ctrl.relation.goal.loading"><i class="fa fa-circle-o-notch fa-spin"></i></span>
                                        </td>
                                    </tr>
                                    <tr ng-repeat="driver in $ctrl.relation.drivers track by $index">
                                        <td>
                                            <a href="#" class="btn metric-btn">{{driver.letter}}</a>
                                            <span class="metric-name" ng-bind-html="driver.name"></span>
                                        </td>
                                        <td>
                                            <span ng-if="!driver.loading">{{driver.current || '-'}}</span>
                                            <span ng-if="driver.loading"><i class="fa fa-circle-o-notch fa-spin"></i></span>
                                        </td>
                                        <td>
                                            <span ng-if="!driver.loading">{{driver.previous || '-'}}</span>
                                            <span ng-if="driver.loading"><i class="fa fa-circle-o-notch fa-spin"></i></span>
                                        </td>
                                        <td>
                                            <span ng-if="!driver.loading">{{driver.difference || '-'}}</span>
                                            <span ng-if="driver.loading"><i class="fa fa-circle-o-notch fa-spin"></i></span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            <div class="button-wrapper">
                                <a href class="btn btn-second pull-right" ng-click="$ctrl.calculate()" ng-disabled="$ctrl.loading || $ctrl.dataLoading">
                                    <i class="fa fa-refresh"></i> Calculate impact
                                </a>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
