<div class="card-builder-filters" ng-if="$ctrl.showFilters">

    <div class="filters-preview">
        <a href ng-click="$ctrl.toggle()" class="filters-toggle">
            <i class="fa fa-fw" ng-class="{'fa-caret-right': $ctrl.collapsed, 'fa-caret-down': !$ctrl.collapsed}" aria-hidden="true"></i>Filters
        </a>
        <span ng-if="$ctrl.collapsed" class="applied-filter" ng-repeat="filter in $ctrl.getCardFilters()" ng-bind-html="$ctrl.convertFilter.toText(filter)"></span>
    </div>

    <div class="filters-edit-area" ng-if="!$ctrl.collapsed">
        <div ng-repeat="filter in $ctrl.filters track by $index">
            <form class="single-filter" ng-class="{highlight: !$ctrl.isAdded($index)}" name="$ctrl.forms.filter_{{$index}}_form">

                <!-- FILTER LETTER & COLUMN -->
                <div class="filter-option">
                    <div class="filter-alias">
                        <a ng-if="!$ctrl.isLoading($index)" class="btn" ng-bind-html="filter.chainLetter"></a>
                        <a ng-if="$ctrl.isLoading($index)" class="btn"><i class="fa fa-circle-o-notch fa-spin"></i></a>
                        <span class="dimension-name" ng-bind-html="filter.column.getLabel() | capitalize"></span>
                    </div>
                </div>

                <!-- FILTER OPERATOR -->
                <div class="filter-option" ng-class="{'has-error': !$ctrl.validateFormFields($index, ['operator'])}">
                    <ui-select ng-disabled="$ctrl.isLoading($index)" name="operator" search-enabled="true"
                               ng-model="filter.operator" class="w-100" required
                               on-select="$ctrl.onSelectOperator(filter)">
                        <ui-select-match placeholder="Select Operator">{{$select.selected.label}}</ui-select-match>
                        <ui-select-choices repeat="item in $ctrl.operators.getByFilter(filter) | filter: {label: $select.search} track by item.value">
                            <div ng-bind-html="item.label | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>

                <!-- FILTER VALUES -->
                <div class="filter-option" ng-if="$ctrl.isMultiSelect(filter)">

                    <app-column-value-dropdown
                        required
                        name="value"
                        ng-model="filter.values"
                        column="filter.column"
                        multiple="true"
                        placeholder="Select Values">
                    </app-column-value-dropdown>

                </div>

                <div class="filter-option" ng-if="$ctrl.isSingleSelect(filter)">

                    <app-column-value-dropdown
                        required
                        name="value"
                        ng-model="filter.firstValue"
                        column="filter.column"
                        placeholder="Select Value">
                    </app-column-value-dropdown>

                </div>

                <!-- FILTER DATE OPTIONS -->
                <div class="filter-option" class="filter-date" ng-if="filter.isDate && !filter.isNullLike()">

                    <div class="filter-date-wrapper" ng-class="{'has-error': !$ctrl.validateFormFields($index, ['value'])}">

                        <div class="input-group" ng-if="filter.isRange && !filter.isBetween()">
                            <tu-date-picker
                                refresh="$ctrl.refreshDates(dates, range, filter)"
                                current-range="$ctrl.getRangeName(filter)"
                                current-number="filter.numbers"
                                class="fullscreen-show pull-right dashboard-date-picker"
                                show="['customDate','cardDateRange']"
                                hide="['custom']"
                                starting-day="$ctrl.card.dashboard.usedStartDayOfWeek"></tu-date-picker>
                        </div>

                        <div class="input-group truedash-calendar" ng-if="!filter.isRange && !filter.isBetween()">
                            <input name="value" type="text" class="form-control"
                                   ng-model="filter.firstValue" ng-required="true"
                                   uib-datepicker-popup="{{$ctrl.format}}"
                                   datepicker-options="{startingDay: $ctrl.card.dashboard.usedStartDayOfWeek % 7}"
                                   is-open="$ctrl.dateData[$index]"/>
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-fourth date-trigger"
                                        ng-click="$ctrl.openDatePicker($event, $index)">
                                    <i class="fa fa-calendar-check-o"></i>
                                </button>
                            </span>
                        </div>

                        <div ng-if="filter.isRange && filter.isBetween()">
                            <tu-range-number ng-model="filter.values"></tu-range-number>
                        </div>

                        <div ng-disabled="$ctrl.isLoading($index) || !filter.column">
                            <label class="checkbox" ng-click="$ctrl.onRangeClick(filter)">
                                <i class="fa fa-fw" ng-class="{'fa-check-square-o': filter.isRange, 'fa-square-o': !filter.isRange}">&nbsp;</i>
                                <span>Range?</span>
                            </label>
                        </div>

                    </div>

                </div>

                <!-- FILTER ACTION BUTTONS -->
                <div class="filter-option filter-buttons">
                    <div ng-if="!filter.checkDelete && !filter.deleting">
                        <button ng-disabled="$ctrl.isLoading($index) || $ctrl.isLoading()" class="btn btn-second"
                                ng-click="filter.checkDelete = true">
                            Delete
                        </button>
                        <button ng-disabled="$ctrl.isLoading($index) || $ctrl.isLoading()" class="btn btn-first"
                                ng-click="$ctrl.applyFilter($index)" ng-bind-html="$ctrl.isAdded($index) ? 'Update' : 'Apply'">

                        </button>
                    </div>
                    <div ng-if="filter.checkDelete && !filter.deleting">
                        <button class="btn btn-fourth" ng-click="filter.checkDelete = false">No</button>
                        <button class="btn btn-first" ng-click="$ctrl.removeFilter($index)">Yes</button>
                    </div>
                    <div ng-if="filter.deleting">
                        <button class="btn btn-fourth btn-block"><i class="fa fa-fw fa-circle-o-notch fa-spin"></i> Deleting</button>
                    </div>
                </div>
            </form>
        </div>

        <div class="filter-rules">
            <label>Filter rules:</label>
            <form name="$ctrl.filtersRuleForm" novalidate>
                <div class="input-group">
                    <input ng-disabled="!$ctrl.card.filters.length || $ctrl.isLoading()" type="text" name="filterRulesInput"
                           class="form-control" placeholder="Example: A AND B OR C" app-valid-logical-expression
                           filters="$ctrl.filters" ng-model="$ctrl.filtersRule">
                    <a ng-disabled="!$ctrl.card.filters.length || $ctrl.isLoading()"
                       ng-click="$ctrl.applyFilterRules()" class="btn btn-third input-group-addon">
                        <i ng-class="{'fa-check': !$ctrl.filtersRuleLoading, 'fa-circle-o-notch fa-spin': $ctrl.filtersRuleLoading}" class="fa"></i>
                    </a>
                </div>
                <div>
                    <div class="error-messages" ng-messages="$ctrl.filtersRuleForm.filterRulesInput.$error" ng-if="$ctrl.filtersRuleSubmitted">
                        <div ng-message="allVariablesPresent">Please list all available filters</div>
                        <div ng-message="logicalExpression">Logical expression error</div>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>
